<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>

<body>
    <div class="hr-break size-double bg-pagecolor">
        <span>横向纵向居中盒子</span>
    </div>
    <div class="ne-middlebox  bg-white" style="height: 130px;">
        <div class="ne-middlebox-content">
            center
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>宽高比例控制盒子</span>
    </div>
    <div class="ne-row spaceing">
        <div class="ne-col-3 align-middle">
            <div class="ne-adaptivebox">
                <div class="ne-adaptivebox-content bg-white">
                    <div class="ne-middlebox">
                        <div class="ne-middlebox-content">1:1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-3 align-middle">
            <div class="ne-adaptivebox" style="padding-bottom:50% ">
                <div class="ne-adaptivebox-content bg-white">
                    <div class="ne-middlebox">
                        <div class="ne-middlebox-content">2:1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-3 align-middle">
            <div class="ne-adaptivebox" style="padding-bottom:200% ">
                <div class="ne-adaptivebox-content bg-white">
                    <div class="ne-middlebox">
                        <div class="ne-middlebox-content">1:2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-3 align-middle">
            <div class="ne-adaptivebox" style="padding-bottom:75% ">
                <div class="ne-adaptivebox-content bg-white">
                    <div class="ne-middlebox">
                        <div class="ne-middlebox-content">1:.75</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-blank" />
    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>

</html>