<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>

<body>
    <div class="ne-row spaceing">
        <div class="ne-col-6">
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-title">
                        <span>自动播放</span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <div class="ne-carousel bg-white" ne-role="carousel" data-interval="3000" data-autoplay="true">
                        <div class="ne-carousel-container">
                            <div class="ne-carousel-item bg-blue active" ne-role="carouselitem">
                                <div class="ne-middlebox">
                                    <div class="ne-middlebox-content">
                                        <span class="size-double white">BLUE</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ne-carousel-item bg-yellow" ne-role="carouselitem">
                                <div class="ne-middlebox">
                                    <div class="ne-middlebox-content">
                                        <span class="size-double white">YELLOW</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ne-carousel-item bg-green" ne-role="carouselitem">
                                <div class="ne-middlebox">
                                    <div class="ne-middlebox-content">
                                        <span class="size-double white">GREEN</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ne-carousel-controller" ne-role="carouselcontroller">
                            <span class="ne-carousel-control active" ne-role="carouselcontrol"></span>
                            <span class="ne-carousel-control" ne-role="carouselcontrol"></span>
                            <span class="ne-carousel-control" ne-role="carouselcontrol"></span>
                        </div>
                        <div class="ne-carousel-prevbtn white" ne-tap="prev:carousel">
                            <i class="ne-icon-arrow-left"></i>
                        </div>
                        <div class="ne-carousel-nextbtn white" ne-tap="next:carousel">
                            <i class="ne-icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-6">
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-title">
                        <span>不自动播放</span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <div class="ne-carousel bg-white" ne-role="carousel" data-interval="3000">
                        <div class="ne-carousel-container">
                            <div class="ne-carousel-item bg-blue active" ne-role="carouselitem">
                                <div class="ne-middlebox">
                                    <div class="ne-middlebox-content">
                                        <span class="size-double white">BLUE</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ne-carousel-item bg-yellow" ne-role="carouselitem">
                                <div class="ne-middlebox">
                                    <div class="ne-middlebox-content">
                                        <span class="size-double white">YELLOW</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ne-carousel-item bg-green" ne-role="carouselitem">
                                <div class="ne-middlebox">
                                    <div class="ne-middlebox-content">
                                        <span class="size-double white">GREEN</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ne-carousel-controller" ne-role="carouselcontroller">
                            <span class="ne-carousel-control active" ne-role="carouselcontrol"></span>
                            <span class="ne-carousel-control" ne-role="carouselcontrol"></span>
                            <span class="ne-carousel-control" ne-role="carouselcontrol"></span>
                        </div>
                        <div class="ne-carousel-prevbtn white" ne-tap="prev:carousel">
                            <i class="ne-icon-arrow-left"></i>
                        </div>
                        <div class="ne-carousel-nextbtn white" ne-tap="next:carousel">
                            <i class="ne-icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>

</html>