<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
    <style>
        .colorpalette-item {
            border: 1px solid #e0e0e0;
            background: #fff;
            border-radius: 4px;
            padding: 5px;
        }

        .colorpalette-item .ne-adaptivebox {
            border-radius: 10px;
        }

        .hr-break::before,
        .hr-break::after {
            width: 12%;
        }
    </style>
</head>

<body>
    <div class="hr-break size-double bg-pagecolor">
        <span>grey</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-1">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-2">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-3">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-4">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-5">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-6">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-7">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-8">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-9">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor grey-10">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>blue</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-1 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-2 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-3 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-4 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-5 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-6 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-7 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-8 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-9 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor blue-10 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>cyan</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">

        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-1 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-2 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-3 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-4 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-5 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-6 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-7 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-8 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-9 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor cyan-10 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>green</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">

        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-1 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-2 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-3 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-4 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-5 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-6 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-7 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-8 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-9 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor green-10 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>red</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">

        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-1 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-2 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-3 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-4 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-5 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-6 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-7 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-8 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-9 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor red-10 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>pink</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">

        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-1 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-2 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-3 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-4 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-5 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-6 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-7 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-8 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-9 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor pink-10 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>orange</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">

        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-1 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-2 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-3 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-4 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-5 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-6 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-7 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-8 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-9 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor orange-10 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-break size-double bg-pagecolor">
        <span>yellow</span>
    </div>
    <div class="ne-row spaceing align-center colorpalette">

        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-1 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-2 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-3 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-4 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-5 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-6 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-7 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-8 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-9 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ne-col-1">
            <div class="colorpalette-item">
                <div class="ne-adaptivebox bg-currentcolor yellow-10 ">
                    <div class="ne-adaptivebox-content">
                        <div class="ne-middlebox">
                            <div class="ne-middlebox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>