<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>

<body>

    <div class="ne-panel">
        <div class="ne-panel-header">
            <div class="header-title">告知信息提示窗</div>
            <div class="header-actions">
                <button class="ne-btn ne-btn-small ne-btn-primary" onclick="Ne.dialog.alert('提示窗标题','弹窗内容，告知当前页面信息等', function () {console.log('callback')})">Alert</button>
            </div>
        </div>
        <div class="ne-panel-body bg-pagecolor padding-top-20 padding-bottom-20">
            <div class="ne-dialog-alert">
                <div class="ne-dialog-header">
                    <strong>提示窗标题</strong>
                </div>
                <div class="ne-dialog-body">弹窗内容，告知当前页面信息等</div>
                <div class="ne-dialog-footer">
                    <div class="ne-action">确定</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ne-panel">
        <div class="ne-panel-header">
            <div class="header-title">告知需要确认的信息提示窗</div>
            <div class="header-actions">
                <button class="ne-btn ne-btn-small ne-btn-primary" onclick="Ne.dialog.confirm('提示窗标题', '自定义弹窗内容，居左对齐显示，告知需要确认的信息等', function (flag) { console.log(flag) })">Confirm</button>
            </div>
        </div>
        <div class="ne-panel-body bg-pagecolor padding-top-20 padding-bottom-20">
            <div class="ne-dialog-confirm">
                <div class="ne-dialog-header">
                    <strong>提示窗标题</strong>
                </div>
                <div class="ne-dialog-body">自定义弹窗内容，居左对齐显示，告知需要确认的信息等</div>
                <div class="ne-dialog-footer">
                    <div class="ne-action">取消</div>
                    <div class="ne-action weight-bold">确定</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ne-panel">
        <div class="ne-panel-header">
            <div class="header-title">自定义可选操作的信息提示窗</div>
            <div class="header-actions">
                <button class="ne-btn ne-btn-small ne-btn-primary" onclick="Ne.dialog({ type: 'actions', title: '提示窗标题', content: '自定义弹窗内容，告知信息并提供多个可选择的操作', actions: [{ text: '执行操作A', handler: function () { console.log('执行操作A'); } }, { text: '执行操作B', handler: function () { console.log('执行操作B'); } },{ text: '放弃',focused:true,color:'red', handler: function () { console.log('放弃'); } }] })">Actions</button>
            </div>
        </div>
        <div class="ne-panel-body bg-pagecolor padding-top-20 padding-bottom-20">
            <div class="ne-dialog-actions">
                <div class="ne-dialog-header">
                    <strong>提示窗标题</strong>
                </div>
                <div class="ne-dialog-body">自定义弹窗内容，告知信息并提供多个可选择的操作</div>
                <div class="ne-dialog-footer">
                    <div class="ne-action">执行操作A</div>
                    <div class="ne-action">执行操作B</div>
                    <div class="ne-action weight-bold red">放弃</div>
                </div>
            </div>
        </div>
    </div>
 
    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>

</html>