<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>

<body>
    <div class="ne-panel">
        <div class="ne-panel-header">
            <div class="header-title">
                <span>MARKDOWN</span>
            </div>
        </div>
        <div class="ne-panel-body" style="overflow: visible;">
            <div class="ne-markdown">
                <div class="ne-markdown-toolbar">
                    <div class="inline-block align-middle ne-tips" data-tips="添加图片">
                        <i class="ne-icon-pic"></i>
                    </div>
                    <div class="ne-markdown-count">0/300</div>
                </div>
                <textarea placeholder="300字，相关输入提示" rows="8" maxlength="300" data-editor-control="content" value=""></textarea>
            </div>
        </div>

        </form>

        <script src="/Content/Tools/neui/neui.js"></script>
        <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
        <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>

</body>

</html>