<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>
<body>
        <h4 class="hr-title bg-pagecolor">带说明的列表项</h4>
        <ul class="ne-list">
            <li>
                <div class="ne-cell">
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <span>辅助说明</span>
                    </div>
                </div>
            </li>
        </ul>
        <h4 class="hr-title bg-pagecolor">带图标、说明的列表项</h4>
        <ul class="ne-list">
            <li>
                <div class="ne-cell">
                    <div class="ne-cell-left">
                        <img class="iconsize-small bg-grey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                     </div>
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <span>辅助说明</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="ne-cell">
                    <div class="ne-cell-left">
                        <img class="iconsize-small bg-grey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                     </div>
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <span>辅助说明</span>
                    </div>
                </div>
            </li>
        </ul>
        <h4 class="hr-title bg-pagecolor">带跳转的列表项</h4>
        <ul class="ne-list">
            <li>
                <a class="ne-cell" href="javascript:;">
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <i class="ne-icon-arrow-right"></i>
                    </div>
                </a>
            </li>
            <li>
                <a class="ne-cell" href="javascript:;">
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <i class="ne-icon-arrow-right"></i>
                    </div>
                </a>
            </li>
        </ul>
        <h4 class="hr-title bg-pagecolor">带说明、跳转的列表项</h4>
        <ul class="ne-list">
            <li>
                <a class="ne-cell" href="javascript:;">
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <span>辅助说明</span><i class="ne-icon-arrow-right"></i>
                    </div>
                </a>
            </li>
            <li>
                <a class="ne-cell" href="javascript:;">
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <span>辅助说明</span><i class="ne-icon-arrow-right"></i>
                    </div>
                </a>
            </li>
        </ul>
        <h4 class="hr-title bg-pagecolor">带图标、说明、跳转的列表项</h4>
        <ul class="ne-list">
            <li>
                <a class="ne-cell" href="javascript:;">
                    <div class="ne-cell-left">
                        <img class="iconsize-small bg-grey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <span>辅助说明</span><i class="ne-icon-arrow-right"></i>
                    </div>
                </a>
            </li>
            <li>
                <a class="ne-cell" href="javascript:;">
                    <div class="ne-cell-left">
                        <img class="iconsize-small bg-grey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                     </div>
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                    </div>
                    <div class="ne-cell-right">
                        <span>辅助说明</span><i class="ne-icon-arrow-right"></i>
                    </div>
                </a>
            </li>
        </ul>
        <h4 class="hr-title bg-pagecolor">带图标、摘要的列表项</h4>
        <ul class="ne-list">
            <li>
                <a href="javascript:;" class="ne-cell">
                    <div class="ne-cell-left">
                        <img class="iconsize-normal bg-grey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                     </div>
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                        <p>截断的辅助说明、摘要...</p>
                    </div>
                    <div class="ne-cell-right align-top">
                        <div class="text-meta">10:00</div>

                    </div>
                </a>
            </li>
            <li class="signal-notice">
                <a href="javascript:;" class="ne-cell">
                    <div class="ne-cell-left">
                        <img class="iconsize-normal bg-grey border-round" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                     </div>
                    <div class="ne-cell-center text-excerpt">
                        <strong>标题文字</strong>
                        <p>截断的辅助说明、摘要...</p>
                    </div>
                    <div class="ne-cell-right align-top">
                        <span class="text-meta">10:00</span>
                    </div>
                </a>
            </li>
        </ul>

    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>
</html>
