<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>

<body>
 
            <hr class="hr-blank" />
            <div class="ne-msg bg-white">
                <div class="ne-msg-icon">
                    <i class="ne-icon-success-f green" style="font-size:5em;"></i>
                </div>
                <div class="ne-msg-desc green">
                    <strong>报名成功</strong>
                    <p>这里是状态辅助说明信息。</p>
                </div>
                <div class="ne-msg-actions">
                    <a href="javascript:;" class="ne-btn ne-btn-success block">查看我的活动</a>
                    <a href="javascript:;" class="ne-btn ne-btn-success block ne-btn-outline margin-top-10">邀请好友一起参加</a>
                </div>
            </div>
            <hr class="hr-blank"/>
            <div class="ne-msg bg-white">
                <div class="ne-msg-icon">
                    <i class="ne-icon-delete-f red" style="font-size:5em;"></i>
                </div>
                <div class="ne-msg-desc red">
                    <strong>报名失败</strong>
                    <p>这里是状态辅助说明信息。</p>
                </div>
                <div class="ne-msg-actions">
                    <a href="javascript:;" class="ne-btn ne-btn-danger block">返回首页</a>
                    <a href="javascript:;" class="ne-btn ne-btn-danger block ne-btn-outline margin-top-10">去验证手机号码</a>
                </div>
            </div>
            <hr class="hr-blank" />
            <div class="ne-msg bg-white">
                <div class="ne-msg-icon">
                    <i class="ne-icon-info-f blue" style="font-size:5em;"></i>
                </div>
                <div class="ne-msg-desc blue">
                    <strong>已报过名</strong>
                    <p>这里是状态辅助说明信息。</p>
                </div>
                <div class="ne-msg-actions">
                    <a href="javascript:;" class="ne-btn ne-btn-info block">查看我的活动</a>
                    <a href="javascript:;" class="ne-btn ne-btn-info block ne-btn-outline margin-top-10">邀请好友一起参加</a>
                </div>
            </div>
            <hr class="hr-blank" />

    

    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>
</html>
