<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>
<body>
        <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-icon">
                        <i class="ne-icon-info-f blue"></i>
                    </div>
                    <div class="header-title">
                        <span>标题文字</span>
                    </div>
                    <div class="header-actions">
                        <span class="text-meta margin-right-5 inline-block">辅助说明</span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <div class="ne-article ne-cell">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
                <div class="ne-panel-footer">
                    <a class="action-link">立即查看</a>
                </div>
            </div>
            <hr class="hr-blank" />
            <div class="ne-panel" ne-role="panel">
                <div onclick="javascript:;" class="ne-panel-header" ne-tap="toggle:panel">
                    <div class="header-icon">
                        <i class="ne-icon-success-f green"></i>
                    </div>
                    <div class="header-title">
                        <span>点击头部可收起 / 展开</span>
                    </div>
                    <div class="header-actions">
                        <span class="ne-panel-switch inline-block"><i class="ne-icon-arrow-up-o"></i></span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <div class="ne-article ne-cell">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="hr-blank" />
            <div class="ne-panel collapse" ne-role="panel">
                <div onclick="javascript:;" class="ne-panel-header" ne-tap="toggle:panel">
                    <div class="header-icon">
                        <i class="ne-icon-success-f green"></i>
                    </div>
                    <div class="header-title">
                        <span>点击头部可收起 / 展开</span>
                    </div>
                    <div class="header-actions">
                        <span class="ne-panel-switch inline-block"><i class="ne-icon-arrow-up-o"></i></span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <div class="ne-article ne-cell">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="hr-blank" />
            <div class="ne-panel collapse" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-icon">
                        <i class="ne-icon-question-f primary"></i>
                    </div>
                    <div class="header-title">
                        <span>点击底部可收起 / 展开</span>
                    </div>
                </div>
                <div class="ne-panel-body" style="max-height:90px;">
                    <div class="ne-article ne-cell">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
                <div class="ne-panel-footer maskcover" ne-tap="toggle:panel">
                    <i class="ne-icon-arrow-up ne-panel-switch"></i>
                </div>
            </div>
            <hr class="hr-blank" />
             

    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>
</html>
