<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
    <style>
        .col {
            text-align: center;
            padding: 20px 0;
        }
    </style>
</head>

<body>
    <div class="hr-break bg-pagecolor size-double">
        <span>12栅格</span>
    </div>
    <div class="ne-row">
        <div class="ne-col-1 bg-white col">1</div>
        <div class="ne-col-1 bg-blue white col">1</div>
        <div class="ne-col-1 bg-white col">1</div>
        <div class="ne-col-1 bg-blue white col">1</div>
        <div class="ne-col-1 bg-white col">1</div>
        <div class="ne-col-1 bg-blue white col">1</div>
        <div class="ne-col-1 bg-white col">1</div>
        <div class="ne-col-1 bg-blue white col">1</div>
        <div class="ne-col-1 bg-white col">1</div>
        <div class="ne-col-1 bg-blue white col">1</div>
        <div class="ne-col-1 bg-white col">1</div>
        <div class="ne-col-1 bg-blue white col">1</div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row">
        <div class="ne-col-2 bg-white col">2</div>
        <div class="ne-col-2 bg-blue white col">2</div>
        <div class="ne-col-2 bg-white col">2</div>
        <div class="ne-col-2 bg-blue white col">2</div>
        <div class="ne-col-2 bg-white col">2</div>
        <div class="ne-col-2 bg-blue white col">2</div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row">
        <div class="ne-col-3 bg-white col">3</div>
        <div class="ne-col-3 bg-blue white col">3</div>
        <div class="ne-col-3 bg-white col">3</div>
        <div class="ne-col-3 bg-blue white col">3</div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row">
        <div class="ne-col-4 bg-white col">4</div>
        <div class="ne-col-4 bg-blue white col">4</div>
        <div class="ne-col-4 bg-white col">4</div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row">
        <div class="ne-col-6 bg-white col">6</div>
        <div class="ne-col-6 bg-blue white col">6</div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row">
        <div class="ne-col-12 bg-white col">12</div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="hr-break bg-pagecolor size-double">
        <span>显示间隙</span>
    </div>
    <div class="ne-row spaceing">
        <div class="ne-col-2">
            <div class="bg-white col">2</div>
        </div>
        <div class="ne-col-2">
            <div class="bg-blue white col">2</div>
        </div>
        <div class="ne-col-2">
            <div class="bg-white col">2</div>
        </div>
        <div class="ne-col-2">
            <div class="bg-blue white col">2</div>
        </div>
        <div class="ne-col-2">
            <div class="bg-white col">2</div>
        </div>
        <div class="ne-col-2">
            <div class="bg-blue white col">2</div>
        </div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row spaceing">
        <div class="ne-col-4">
            <div class="bg-white col">4</div>
        </div>
        <div class="ne-col-4">
            <div class="bg-blue white col">4</div>
        </div>
        <div class="ne-col-4">
            <div class="bg-white col">4</div>
        </div>
        <div class="ne-col-4">
            <div class="bg-blue white col">4</div>
        </div>
        <div class="ne-col-4">
            <div class="bg-white col">4</div>
        </div>
        <div class="ne-col-4">
            <div class="bg-blue white col">4</div>
        </div>
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="hr-break bg-pagecolor size-double">
        <span>水平轴对齐</span>
    </div>
    <div class="ne-row position-relative">
        <div class="ne-col-2 bg-white align-center align-top">
            <div style="line-height:60px;">2</div>
        </div>
        <div class="ne-col-6 bg-blue white align-center align-top">
            <div style="line-height:40px;">6</div>
        </div>
        <div class="ne-col-3 bg-white align-center align-top">
            <div style="line-height:75px;">3</div>
        </div>
        <div class="ne-col-1 bg-blue white align-center align-top">
            <div style="line-height:55px;">1</div>
        </div>
        <hr style="position: absolute;width: 100%;top: 0;margin: 0;border-bottom:none;border-top:1px dashed #0027b7;">
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row  position-relative">
        <div class="ne-col-2 bg-white align-center align-middle">
            <div style="line-height:60px;">2</div>
        </div>
        <div class="ne-col-3 bg-blue white align-center align-middle">
            <div style="line-height:75px;">3</div>
        </div>
        <div class="ne-col-6 bg-white align-center align-middle">
            <div style="line-height:40px;">6</div>
        </div>
        <div class="ne-col-1 bg-blue white align-center align-middle">
            <div style="line-height:55px;">1</div>
        </div>
        <hr style="position: absolute;width: 100%;bottom: 50%;margin: 0;border-bottom:none;border-top:1px dashed #0027b7;">
    </div>
    <hr class="hr-blank bg-pagecolor" />
    <div class="ne-row position-relative">
        <div class="ne-col-2 bg-white align-center align-bottom">
            <div style="line-height:60px;">2</div>
        </div>
        <div class="ne-col-6 bg-blue white align-center align-bottom">
            <div style="line-height:40px;">6</div>
        </div>
        <div class="ne-col-3 bg-white align-center align-bottom">
            <div style="line-height:75px;">3</div>
        </div>
        <div class="ne-col-1 bg-blue white align-center align-bottom">
            <div style="line-height:55px;">1</div>
        </div>
        <hr style="position: absolute;width: 100%;bottom: 0;margin: 0;border-bottom:none;border-top:1px dashed #0027b7;">
    </div>
    <hr class="hr-blank bg-pagecolor" />

    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>

</html>