<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
    <style>
        .moved {
            pointer-events: none;
            opacity: .5;
        }
    </style>
</head>

<body>
    <div style="width: 950px;margin: 0 auto;">
        <div class="ne-cell">
            <div class="ne-cell-left">
                <div class="ne-panel" ne-role="panel" style="width:400px;height:500px;">
                    <div class="ne-panel-header">
                        <div class="header-title">全部医生</div>
                        <div class="header-actions">
                            <div class="ne-cell padding-0">
                                <div class="ne-cell-center">
                                    <input type="text" class="ne-input w8 border-none padding-0" placeholder="search..." id="searchkey">
                                </div>
                                <div class="ne-cell-right">
                                    <div class="clickable action-link" onclick="leftListDoSearch();">
                                        <i class="ne-icon-magnifier"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="j-leftlist-container" class="ne-panel-body">

                    </div>
                </div>
            </div>
            <div class="ne-cell-center align-center">
                <div class="inline-block">
                    <div class="align-center margin-bottom-20">
                        <button class="ne-btn ne-btn-primary ne-btn-circle ne-btn-icononly iconsize-normal" onclick="moveToRight();">
                            <i class="ne-icon-iarrow-right size-xx-large"></i>
                        </button>
                    </div>
                    <div class="align-center">
                        <button class="ne-btn ne-btn-default ne-btn-circle ne-btn-icononly iconsize-normal" onclick="moveToLeft();">
                            <i class="ne-icon-iarrow-left size-xx-large"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ne-cell-right">
                <div class="ne-panel" ne-role="panel" style="width:400px;height:500px;">
                    <div class="ne-panel-header">
                        <div class="header-title align-left">选择的医生</div>
                        <div class="header-actions"></div>
                    </div>
                    <div id="j-rightlist-container" class="ne-panel-body" style="height:100%;overflow:auto;">
                        <div class="ne-datalist">
                            <div class="ne-datalist-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
    <script>
        //创建左侧列表 
        var dl_leftList = Ne.dataList({
            listContainer: '#j-leftlist-container',
            itemRender: function (record, index) {
                var checkboxName = 'leftlist_checkbox';
                var checkboxId = checkboxName + '_' + Ne._.random(0, 10000);
                var listitem = '<div class="ne-cell">' +
                    '<span class="ne-cell-left">' +
                    '<input type="checkbox" id="' + checkboxId + '" name="' + checkboxName + '" value="' +
                    record.a + '">' +
                    '<label class="ne-checkbox" for="' + checkboxId + '"></label>' +
                    '</span>' +
                    '<span class="ne-cell-center">' + record.a + '医生</span>' +
                    '</div>';
                listitem = Ne.dom.render(listitem);
                var rightListRecords = getRightListRecords();
                rightListRecords.forEach(function (n) {
                    if (n.a == record.a) {
                        listitem.classList.add('moved');
                        listitem.querySelector('input').checked = true;
                        return false;
                    }
                });
                return listitem;
            },
            cls: 'list-info list-sfa',
            style: {
                'border-bottom': '1px solid #e0e0e0',
                'padding-bottom': '15px',
                'margin-bottom': '20px'
            },
            pageSize: 8,
            pageBarType: 2,
            events: {
                onItemClick: function (item, record) {},
                onPageRender: function (records) {}
            }
        });
        //左列表加载数据
        function leftListLoadData(searchkey) {
            dl_leftList.loadData({
                api: '/Followup/HealthKnowledge/ListData',
                debug: true,
                ajax: Ne.ajax,
                para: {
                    searchkey: searchkey || ''
                }
            });
        }
        //左列表搜索
        function leftListDoSearch() {
            var searchkey = document.querySelector('#searchkey');
            leftListLoadData(searchkey);
        }
        leftListLoadData();

        //获取列表已选择行
        function getListSelectedItems(list) {
            var checkedboxs = Array.prototype.slice.call(list.querySelectorAll('input:checked'));
            var records = [];
            var rows = [];
            checkedboxs.forEach(function (item) {
                var row = Ne.dom(item).parents('.ne-cell')[0];
                if (row.record) {
                    rows.push(row);
                    records.push(row.record);
                }
            });
            return {
                rows: rows,
                records: records
            }
        }
        //获取右侧列表数据
        function getRightListRecords(list) {
            var list = document.querySelector('#j-rightlist-container .ne-datalist-body');
            var checkedboxs = Array.prototype.slice.call(list.querySelectorAll('input'));
            var records = [];
            checkedboxs.forEach(function (item) {
                var row = Ne.dom(item).parents('.ne-cell')[0];
                if (row.record) {
                    records.push(row.record);
                }
            });
            return records;
        }
        //左移
        function moveToLeft() {
            var leftList = document.querySelector('#j-leftlist-container .ne-datalist-body');
            var rightList = document.querySelector('#j-rightlist-container .ne-datalist-body');
            var leftListSelectedItems = getListSelectedItems(leftList);
            var rightListSelectedItems = getListSelectedItems(rightList);
            rightListSelectedItems.rows.forEach(function (item) {
                var record = item.record;
                leftListSelectedItems.rows.forEach(function (n) {
                    if (n.record.a == record.a) {
                        n.classList.remove('moved');
                        return false;
                    }
                });
                rightList.removeChild(item);
            });
        }
        //右移
        function moveToRight() {
            var leftList = document.querySelector('#j-leftlist-container .ne-datalist-body');
            var rightList = document.querySelector('#j-rightlist-container .ne-datalist-body');
            var leftListSelectedItems = getListSelectedItems(leftList);
            leftListSelectedItems.rows.forEach(function (item) {
                if (!item.classList.contains('moved')) {
                    var record = item.record;
                    var checkboxName = 'rightlist_checkbox';
                    var checkboxId = checkboxName + '_' + Ne._.random(0, 10000);
                    var listitem = '<div class="ne-cell">' +
                        '<span class="ne-cell-left">' +
                        '<input type="checkbox" id="' + checkboxId + '" name="' + checkboxName + '" value="' +
                        record.a + '">' +
                        '<label class="ne-checkbox" for="' + checkboxId + '"></label>' +
                        '</span>' +
                        '<span class="ne-cell-center">' + record.a + '医生</span>' +
                        '<span class="ne-cell-right"></span>' +
                        '</div>';
                    listitem = Ne.dom.render(listitem);
                    listitem.record = record;
                    rightList.appendChild(listitem);
                    //
                    item.classList.add('moved');
                }
            });
        }
    </script>
</body>

</html>