<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
    
</head>

<body>
    <div class="ne-row spaceing">
        <div class="ne-col-6">
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-title">
                        <span>简单表格</span>
                    </div>
                    <div class="header-actions" ne-tap="toggle:panel">
                        <span class="ne-panel-switch inline-block"><i class="ne-icon-arrow-up-o"></i></span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <table class="ne-table">
                        <thead>
                            <tr>
                                <th class="w1"> # </th>
                                <th> 标题 </th>
                                <th> 描述 </th>
                                <th> 时间 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> 张小明 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 2 </td>
                                <td> 李大叶 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> 鲁子生 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 4 </td>
                                <td> 王苟旦 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
        <div class="ne-col-6">
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-title">
                        <span>显示分割线</span>
                    </div>
                    <div class="header-actions" ne-tap="toggle:panel">
                        <span class="ne-panel-switch inline-block"><i class="ne-icon-arrow-up-o"></i></span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <table class="ne-table bordered">
                        <thead>
                            <tr>
                                <th class="w1"> # </th>
                                <th> 标题 </th>
                                <th> 描述 </th>
                                <th> 时间 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> 张小明 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 2 </td>
                                <td> 李大叶 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> 鲁子生 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 4 </td>
                                <td> 王苟旦 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
        <div class="ne-col-6">
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-title">
                        <span>隔行换色</span>
                    </div>
                    <div class="header-actions" ne-tap="toggle:panel">
                        <span class="ne-panel-switch inline-block"><i class="ne-icon-arrow-up-o"></i></span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <table class="ne-table striped">
                        <thead>
                            <tr>
                                <th class="w1"> # </th>
                                <th> 标题 </th>
                                <th> 描述 </th>
                                <th> 时间 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> 张小明 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 2 </td>
                                <td> 李大叶 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> 鲁子生 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 4 </td>
                                <td> 王苟旦 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
        <div class="ne-col-6">
            <div class="ne-panel" ne-role="panel">
                <div class="ne-panel-header">
                    <div class="header-title">
                        <span>去边框</span>
                    </div>
                    <div class="header-actions" ne-tap="toggle:panel">
                        <span class="ne-panel-switch inline-block"><i class="ne-icon-arrow-up-o"></i></span>
                    </div>
                </div>
                <div class="ne-panel-body">
                    <table class="ne-table border-none">
                        <thead>
                            <tr>
                                <th class="w1"> # </th>
                                <th> 标题 </th>
                                <th> 描述 </th>
                                <th> 时间 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> 张小明 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 2 </td>
                                <td> 李大叶 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> 鲁子生 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                            <tr>
                                <td> 4 </td>
                                <td> 王苟旦 </td>
                                <td> 辅助说明文字 </td>
                                <td> 12:20 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>

</html>