<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeAdmin</title>
    <link rel="stylesheet" href="/Content/Tools/neui/neui.css" />
    <link rel="stylesheet" href="/Content/Tools/neui-extend/neui.extend.css" />
</head>

<body>
    <form class="ne-panel">
        <div class="ne-panel-header">
            <div class="header-title">
                <span>请选择要上传的图片</span>
            </div>
        </div>
        <div class="ne-panel-body">
                <div class="ne-row">
                    <div class="ne-col-4">
                            <div class="ne-uploader bg-white">
                                    <div class="margin-bottom-10">
                                            <span>请选择要上传的图片</span> <span class=" float-right text-meta">0/2</span>
                                        </div>
                                        <div class="ne-uploader-bd">
                                            <div class="ne-uploader-files">
                                                <div class="ne-uploader-file ne-uploader-status" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=)">
                                                    <div class="ne-uploader-status-content">
                                                        <i class="ne-icon-warn-f yellow" style="font-size: 2em;"></i>
                                                    </div>
                                                </div>
                                                <div class="ne-uploader-file ne-uploader-status" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=)">
                                                    <div class="ne-uploader-status-content">50%</div>
                                                </div>
                                            </div>
                                            <div class="ne-uploader-input-wrp">
                                                <input class="ne-uploader-input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
                                            </div>
                                        </div>
                                </div>
                    </div>
                </div>
        </div>
        
    </form>

    <script src="/Content/Tools/neui/neui.js"></script>
    <script src="/Content/Tools/neui-extend/neui.extend.js"></script>
    <script src="/Content/Tools/NeAdmin/neadmin.frame.js"></script>
</body>

</html>